.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(41, 41, 41);
}

.input {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 18px;
}



.input-area {
    display: flex;
    flex-direction: row;
    width: 100%;
}

body {
    margin: 0;
}